body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(241, 242, 242);
    color: #333;
    margin: 0;
    padding: 0;

}

header {
    background: #007bff;
    color: antiquewhite;
    padding: 2rex;
    text-align: center;

}

section {
    padding: 20px;
    margin: 10px auto;
    max-width: 600px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.113);
}

h2 {
    color: #007bff;
}

footer {
    text-align: center;
    padding: 10px;
    background: #e8e7e798;
}

.about {
    padding: 1rex;

}

.social-links {
    margin-top: 10px;


}

.social-links > a  {
    margin: 0 10px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;

}

.social-links > a:hover{
    text-decoration: underline;
    font-size: 20px;
    color: black;
}

footer > p {
    color: #000;
    font-weight: bold;
    font-size: 11px;
}

/* Project list */
.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

}

.project-card {
    background-color: white;
    border-left: 4px solid #28a745;
    padding: 1rex;
    border-radius: 8px;
    width: 250px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.113);
    transition: transform 0.2s;

}

.project-card:hover {
    transform: translateY(-10px);
}

.project-card > h3 {
    margin-top: 0;
    color: #28a745;
}

.project-card > p {
    font-size: 14px;
    color: grey;
}

.project-card > a {
    display: inline-block;
    padding: 8px 15px;
    background-color:#007bff;
    color: white;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.2s ease;

}

.project-card > a:hover {
    background-color: #00056b;

}

nav {
    background-color: gray;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin: 0;
    gap: 20px;
}

.navbar > li > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 4px;
    transition: background-color 0.2s ease;
}

.navbar > li > a:hover {
    background-color:#007bff;
}